@mixin baseProps {
  padding: $input-padding-xs;
  margin: 0;
  border: $input-border;

  image {
    margin-right: $spacing-s;
  }
}

entry {
  @include baseProps;
  color: $input-text;
  background-color: $input-bg;
  border: $input-border;
  border-radius: $input-border-radius;
  transition: $transition-short;

  image {
    color: $input-text;
  }

  &:selected {
    color: $input-selected-text;
  }

  &:hover {
    color: $input-focus-text;
    background-color: $input-focus-bg;
    border-color: $input-hover-border;

    image {
      color: $input-focus-text;
    }
  }

  &:focus {
    @include baseProps;
    color: $input-hover-text;
    background-color: $input-hover-bg;
    border-color: $input-focus-border;

    image {
      color: $input-hover-text;
    }
  }
}
